.companies {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4vw;
}
#backCompany {
  background-color: rgb(207, 226, 238);
  width: 100%;
}
#backCompany h4 {
  font-size: 3vh;
  font-style: oblique;
  text-align: center;
}
#backCompany h2 {
  font-size: 4vh;
}
.form2 input,
.form2 button {
  border-radius: 10px;
}

.form2 input {
  padding-left: 1vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
.form2 button {
  border-radius: 20px;
  background-color: rgb(23, 68, 164);
  color: white;
  font-weight: 800;
}
.listCom {
  padding: 2vh 0 0;
  justify-content: center;
  /* min-width: 99%; */
  flex-direction: column;
}
#compData {
  padding: 0 0 0;
  justify-content: center;
  background: none;
  background-color: none;
  flex-direction: column;
  border: none;
}
.table-logo img {
  width: 25vw;
  height: 25vw;
}
.stars {
  width: 25vw;
  height: 5vw;
  margin-left: 2vw;
}
.comp-table {
  display: flex;
  flex-direction: column;
}
.rateName {
  display: flex;
  flex-direction: column;
}
.rateName h3 {
  font-size: 6vw;
  padding: 1.5vh 0;
}
.rateStar {
  display: flex;
}

.comp-table {
  padding-top: 6vw;
  padding-bottom: 6vw;
  padding-left: 5vw;
  display: flex;
  border: 0.1px lightgray solid;
  flex-direction: column;
  background-color: rgb(250, 253, 255);
  margin-bottom: 3vh;
}
#eachCompany1 {
  padding-top: 6vw;
  padding-bottom: 6vw;
  padding-left: 5vw;
  display: flex;
  border: 0.1px lightgray solid;
  flex-direction: column;

  background-color: rgb(250, 253, 255);
  margin-bottom: 3vh;
  width: 100%;
}
.descrip {
  text-align: start;
  font-size: 6vw;
}
.rateStar strong {
  font-size: 5vw;
}
@media only screen and (min-width: 769px) {
  .companies {
    margin: 2vw;
  }
  #backCompany {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
  }
  #backCompany h2 {
    margin: 0;
    padding-top: 2vh;
    padding-bottom: 0.4vh;
  }

  .form2 input {
    margin-top: 0;
    margin-bottom: 0;
    width: 30vw;
    /* font-size: 1.6vw; */
    font-size: 25px;
  }
  .form2 button {
    border-radius: 20px;
    background-color: rgb(23, 68, 164);
    color: white;

    margin-left: 10px;
    font-size: 22px;
    font-weight: 800;
  }
  .form2 {
    padding-top: 3vh;
    padding-bottom: 2vh;
  }
  .table-logo img {
    width: 15vw;
    height: 15vw;
  }
  .stars {
    width: 15vw;
    height: 3vw;
    margin-left: 0.3vw;
    margin-bottom: 0.1vh;
  }
  .comp-table {
    display: flex;
    flex-direction: column;
  }
  .rateName {
    display: flex;
    flex-direction: column;
  }
  .rateName h3 {
    font-size: 3vw;
    max-width: 98%;
  }
  .rateStar {
    display: flex;
  }

  .comp-table {
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 5vw;
    padding-right: 2vw;
    display: flex;
    border: 0.1px lightgray solid;
    flex-direction: column;
    background-color: rgb(250, 253, 255);
    margin-bottom: 1.5vh;
  }
  #eachCompany1 {
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 5vw;
    padding-right: 2vw;
    display: flex;
    border: 0.1px lightgray solid;
    flex-direction: column;
    background-color: rgb(250, 253, 255);
    margin-bottom: 1.5vh;
    width: 100%;
    flex-wrap: wrap;
  }
  .descrip {
    text-align: start;
    font-size: 2.5vw;
    max-width: 98%;
  }
  .rateStar strong {
    font-size: 3vw;
  }
  #contact6 {
    text-align: center;
  }
  #contact6 div {
    margin-left: 0;
    margin-top: 0;
  }
}
@media only screen and (min-width: 1340px) {
  .companies {
    margin: 2vw;
  }
  #backCompany {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #backCompany h2 {
    margin: 0;
    padding-top: 2vh;
    padding-bottom: 0.4vh;
  }

  .form2 input {
    margin-top: 0;
    margin-bottom: 0;
    width: 30vw;
    /* font-size: 1.6vw; */
    font-size: 25px;
  }
  .form2 button {
    border-radius: 20px;
    background-color: rgb(23, 68, 164);
    color: white;

    margin-left: 10px;
    font-size: 22px;
    font-weight: 800;
  }
  .form2 {
    padding-top: 3vh;
    padding-bottom: 2vh;
  }

  .table-logo img {
    width: 4vw;
    height: 4vw;
  }
  .stars {
    width: 6vw;
    height: 1.2vw;
    margin-left: 0.3vw;
    margin-bottom: 0.3vh;
  }
  .comp-table {
    display: flex;
    flex-direction: column;
  }
  .rateName {
    display: flex;
    flex-direction: column;
  }
  .rateName h3 {
    font-size: 2vw;
    max-width: 98%;
    padding: 2vh 0;
  }
  .rateStar {
    display: flex;
  }

  .comp-table {
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 5vw;
    display: flex;
    border: 0.1px lightgray solid;
    flex-direction: column;
    background-color: rgb(250, 253, 255);
    margin-bottom: 1.5vh;
  }
  .descrip {
    text-align: start;
    font-size: 1vw;
    max-width: 98%;
  }
  .rateStar strong {
    font-size: 1.2vw;
  }
}
