#company_name {
  text-align: center;
  font-size: 5vh;
}

#wholeSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  /* width: 90%;
  max-width: 90%; */
}

.graphs {
  background-color: rgb(250, 253, 255);
  border: 0.1px lightgray solid;
  overflow: hidden;
}
.company_imgs {
  width: 25vw;
  height: 25vw;
}
#link_secn a {
  color: white;
  padding: 1vh;
  text-align: center;
  border-radius: 40px;
  color: rgb(23, 68, 164);
}
#link_secn img {
  width: 5vh;
  height: 5vh;
  visibility: visible;
}
#link_secn {
  background-color: rgb(250, 253, 255);
  margin-bottom: 2vh;
  border-bottom: 1px solid black;
  color: rgb(23, 68, 164);
}

.header2 {
  margin-top: 2vh;
}
.one {
  border-bottom: none;
}
.two {
  border-top: none;
}
#desc {
  width: 70%;
  font-size: 2vh;
  text-align: center;
}
#headerImage {
  width: 75vw;
  height: 15vw;
  border: none;
  border-radius: 0;
}
#comp_header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#allDetail {
  display: flex;
  flex-direction: column;
}
img {
  width: 0;
  height: 0;
}
#review {
  color: rgb(23, 68, 164);
  text-decoration: underline;
  font-size: 5vw;
  margin-left: 2vw;
}
.reviewsAll p {
  text-align: center;
  width: 70%;
}
.reviewsAll div {
  text-align: center;
  font-size: 4vw;
  font-style: oblique;
}
.reviewsAll strong {
  text-align: center;
  width: 70%;
}
.reviewsAll {
  display: flex;
  flex-direction: column;
  padding-top: 3vw;
  padding-bottom: 3vw;
  padding-left: 5vw;
  border: 0.1px lightgray solid;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 253, 255);
  margin-bottom: 1.5vh;
}
.review3 {
  width: 75%;
}
@media only screen and (min-width: 500px) and (max-width: 1024px) {
  #comp_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3vh;
  }
  #link_secn {
    display: flex;
    flex-direction: column;
  }
  #desc {
    width: 80%;
  }
  #wholeSection {
    margin-top: 2vh;
  }
}

@media only screen and (min-width: 1025px) {
  #company_name {
    text-align: center;
    font-size: 4.5vh;
    color: rgb(23, 68, 164);
  }
  #headerImage {
    width: 50vw;
    height: 10vw;
    border: none;
    border-radius: 0;
  }
  #comp_header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .company_imgs {
    width: 5vw;
    height: 5vw;
    margin-right: 15px;
  }
  #wholeSection {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
  }
  .graphs {
    display: flex;
    align-items: center;
  }
  #comp_header {
    display: flex;
    align-items: center;
    margin: 3vh;
  }
  #link_secn {
    display: flex;
    flex-direction: row;
  }
  #desc {
    width: 55%;
  }
  #wholeSection {
    margin-top: 14vh;
  }
  .graphsAll {
    display: flex;
  }
  .one {
    border-right: none;
    border-bottom: 0.1px lightgray solid;
  }
  .two {
    border-left: none;
    border-top: 0.1px lightgray solid;
  }
  #desc {
    width: 70%;
    font-size: 2vh;

    text-align: center;
  }
  #review {
    color: rgb(23, 68, 164);
    text-decoration: underline;
    font-size: 1.2vw;
  }

  .reviewsAll p {
    text-align: center;
    width: 100%;
  }
  #textArea {
    font-size: 1vw;
  }
  .reviewsAll div {
    text-align: center;
    font-size: 0.9vw;
    font-style: oblique;
  }
  .reviewsAll strong {
    text-align: center;
    width: 70%;
  }
  .reviewsAll {
    width: 30%;
    display: flex;
    margin-left: 2vw;
    margin-bottom: 1vw;
    flex-direction: column;
    padding-left: 0;
    padding: 1vw 1vw;
    border: 0.1px lightgray solid;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 253, 255);
  }
  .review3 {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
