#company_name {
    text-align: center;
}

#wholeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#graphs {
    background-color: rgb(250, 253, 255);
    border: 0.1px lightgray solid;
}
.company_imgs {
    width: 5vw;
    border-radius: 50%;
}
#link_secn a {
    color: white;    
    padding: 1vh;
    text-align: center;
    border-radius: 40px;
}
#link_secn img {
    width: 4vh;
}
#link_secn {
    margin: 2vh;
    background-color: rgb(250, 253, 255);;
    padding: 5vh;
}

.header2 {
    margin-top: 4vh;
}

#desc {
    margin-bottom: 5vh;
}






@media only screen and (min-width: 500px) and (max-width: 1024px) {
    #graphs {

    }
    #comp_header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3vh;
    }  
    #link_secn {
        display: flex;
        flex-direction: column;
    }
    #desc {
        width: 80%;
    }
    #wholeSection {
        margin-top: 2vh;
    }
}

@media only screen and (min-width: 1025px) {
    #graphs {
        display: flex;
        align-items: center;
    }
    #comp_header {
        display: flex;
        align-items: center;
        margin: 3vh;
    }
    #link_secn {
        display: flex;
        flex-direction: row;
    }
    #desc {
        width: 55%;
    }
    #wholeSection {
        margin-top: 10vh;
    }
}