.jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4vw;
}
.searchJobs {
  background-color: rgb(207, 226, 238);
  padding: 6vw;
  margin-bottom: 3vh;
  border: 0.1px lightgray solid;
}
.form1 input {
  padding-left: 1vw;
}
.searchJobs h2 {
  font-size: 4vh;
  text-align: center;
}
.searchJobs form {
  display: flex;
  flex-direction: column;
}
.form1 label {
  font-weight: 800;
}
.form1 button {
  border-radius: 20px;
  background-color: rgb(23, 68, 164);
  color: white;
  font-weight: 800;
}
.jobsList {
  background-color: rgb(250, 253, 255);
  display: flex;
  flex-wrap: wrap;
  border: 0.1px lightgray solid;
  padding: 2vh 0;
  justify-content: center;
}
.eachJob {
  width: 300px;
  height: 300px;
  border: 0.3px lightgray solid;
  border-radius: 5px;
  justify-content: center;
  background-color: white;
  padding: 2vw;
  margin-top: 3vh;
  margin-right: 3vh;
  display: flex;
  flex-direction: column;
  margin-left: 6vw;
}
.jobsList h3 {
  font-size: 20px;
  width: 90%;
  text-align: center;
  font-weight: 700;
  margin-top: 3.4vh;
}
.eachJob h3 {
  text-align: start;
  margin-bottom: 20px;
  color: rgb(23, 68, 164);
}
.eachJob p {
  color: rgb(91, 91, 91);
}
.days {
  text-decoration-line: overline;
  font-size: 14px;
}
.jobDeatail {
  background-color: rgb(250, 253, 255);
  display: flex;
  flex-wrap: wrap;
  border: 0.1px lightgray solid;
  padding: 2vh 0;
  justify-content: center;
  margin-top: 6%;
}
.singleJob h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 900;
}
.singleJob {
  padding: 1vh 2vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.singleJob a {
  margin-top: 8px;
  text-decoration: underline;
}
#posted {
  text-align: center;
  font-size: 14px;
  color: rgb(91, 91, 91);
  line-height: 0.8em;
}
.loc {
  text-align: center;
  font-size: 18px;
  color: rgb(91, 91, 91);
}
#snippet {
  margin-top: 10px;
}
.emptySpace1 {
  background-color: rgb(250, 253, 255);
  border: 0.1px lightgray solid;
  min-width: 98%;
  min-height: 41vh;
}
.emptySpace1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13vh;
  height: 8vh;
  width: 18vw;
}
@media only screen and (min-width: 760px) and (max-width: 768px) {
  .emptySpace1 {
    background-color: rgb(250, 253, 255);
    border: 0.1px lightgray solid;
    min-width: 83%;
    min-height: 53vh;
  }
  .emptySpace1 img {
    margin-top: 13vh;
    height: 18vh;
    width: 29vw;
  }
}
@media only screen and (min-width: 769px) {
  .emptySpace1 img {
    margin-top: 13vh;
    height: 29vh;
    width: 38vw;
  }
  .emptySpace1 {
    min-height: 70vh;
  }
  .jobs {
    margin: 2vw;
  }
  .searchJobs {
    padding: 2vw;
  }
  .searchJobs form {
    display: flex;
    flex-direction: row;
  }
  .form1 label {
    font-weight: 800;
    padding: 0 0.4vw;
    font-size: 1.3vw;
    margin-top: 0.5vh;
  }
  #labelLoc {
    margin-left: 7.4vw;
  }
  .form1 input {
    width: 30vw;
    font-size: 1.1vw;
    padding-left: 0.7vw;
    border-radius: 10px;
  }
  .form1 button {
    font-size: 1.1vw;
    padding: 0 2vw;
  }
  .searchJobs h2 {
    font-size: 3.8vh;
    text-align: center;
    padding-bottom: 4.5vh;
  }
}
@media only screen and (min-width: 1025px) {
  .emptySpace1 img {
    margin-top: 13vh;
    height: 36vh;
    width: 20vw;
  }
  .jobsList {
    width: 48%;
    margin-left: 1%;
  }
  .jobs-list-sbs {
    display: flex;
  }
  #expand_btn {
    background-color: rgb(207, 226, 238);
  }
  .eachJob {
    margin-left: 1.2vw;
  }
  .jobDeatail {
    background-color: rgb(250, 253, 255);
    display: flex;
    height: fit-content;
    margin-top: 0;
    border: 0.1px lightgray solid;
    padding: 2vh 0;
    justify-content: center;
    width: 48%;
    margin-left: 2%;
  }
  .singleJob {
    padding: 4vh;
  }
}
