.logo {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4em;
  justify-content: center;
}
.logo img {
  width: 4em;
  height: 2em;
}
.logo h1 {
  background: white;
  color: rgb(23, 68, 164);
}
.logo span {
  color: white;
  -webkit-text-stroke: 2.2px rgb(23, 68, 164);
}
.nav1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
}
.sign {
  display: flex;
  font-size: 1.5em;
  color: rgb(96, 94, 94);
  margin-left: 20px;
}
.sign p {
  margin: 0.6em;
}
#join {
  border: 1px solid rgb(96, 94, 94);
  padding: 0 1.3em;
  text-decoration: none;
  color: black;
  font-size: medium;
}
#join:hover {
  background-color: lightgray;
}
#login {
  text-decoration: none;
  color: black;
  font-size: medium;
  margin-right: 10px;
}
#login:hover {
  text-decoration: underline;
}
.title {
  background: rgb(242, 241, 233);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
  width: 100%;
  position: relative;
}
.title div {
  width: 40%;
}
.title h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 0;
  font-size: 1.5em;
}
.title p {
  font-size: 1.1em;
}
.carousel {
  overflow: hidden;
  height: 40vh;
  opacity: 0.96;
}

.box {
  position: relative;
  display: inline-block;
}
.box .text {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 30%;
  text-align: center;
  width: 60%;
  color: white;
}
.text p {
  font-size: 1.5vh;
  font-weight: 800;
  color: black;
}
.text h1 {
  font-size: 2.6vh;
  font-weight: 700;
  color: black;
}
.text {
  background-color: #ffffff;
  border: 1px solid white;
  padding: 2vh;
  opacity: 0.7;
}
@media only screen and (min-width: 920px) {
  .nav1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
  }

  .carousel {
    overflow: hidden;
    height: 60vh;
  }
}
@media only screen and (min-width: 1500px) {
  .carousel {
    overflow: hidden;
    height: 80vh;
  }
  .text p {
    font-size: 2.6vh;
  }
  .text h1 {
    font-size: 4.2vh;
  }
  .box .text {
    left: 0;
    right: 0;
    top: 30%;
    text-align: center;
    width: 40%;
  }
}
