#logo {
    width: 15vw;
    height: 7vw;
}

#signup_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input_field {
     width: 25vw; 
    border-radius: 10px;
    background-color: #ffffff;
}

#signup_button {
    background-color: aqua;
    margin: 10px;
}

#suwg {
    color: white;
    background-color: red;
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    padding: 5px 10px 5px 10px;

}