button {
  cursor: pointer;
}
.rw-sentence {
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}
.rw-sentence span {
  white-space: nowrap;
}
.rw-words {
  text-indent: 10px;
  display: inline;
}
.rw-words span {
  position: absolute;
  opacity: 0;

  overflow: hidden;
  width: 100%;
  color: rgb(23, 68, 164);
}
.rw-words-1 span {
  animation: rotateWordsFirst 10s linear infinite 0s;
}
.rw-words-2 span {
  animation: rotateWordsSecond 18s linear infinite 0s;
}
.rw-words span:nth-child(2) {
  animation-delay: 4s;
  color: rgb(89, 7, 182);
}
.rw-words span:nth-child(3) {
  animation-delay: 8s;
  color: rgb(89, 7, 182);
}
.rw-words span:nth-child(4) {
  animation-delay: 13s;
  color: rgb(23, 68, 164);
}
.rw-words span:nth-child(5) {
  animation-delay: 18s;
  color: rgb(89, 7, 182);
}
#expand_btn3 {
  background-color: rgb(207, 226, 238);
  width: 30%;
}
@keyframes rotateWordsSecond {
  0% {
    opacity: 1;
    animation-timing-function: ease-in;
    width: 0px;
  }
  10% {
    opacity: 0.3;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 100%;
  }
  27% {
    opacity: 0;
    width: 100%;
  }
  100% {
    opacity: 0;
  }
}
.rw-sentence p {
  font-size: 6vw;
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 0;
  font-weight: 100;
}
.rw-words-2 span {
  font-size: 7vw;
  text-align: center;
  margin-top: 2vh;
  font-weight: 100;
}
.headPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(207, 226, 238);
  width: 100%;
  padding: 6vw;
  padding-bottom: 9vh;
  margin-bottom: 3vh;
  border: 0.1px lightgray solid;
  width: 100%;
}
.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4vw;
  margin-bottom: 0;
}
.checkForm {
  display: flex;
  flex-direction: column;
  font-size: 6vw;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.checkForm img {
  width: 20vw;
  height: 20vw;
}
.twoButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button1 {
  width: 80vw;
  border-radius: 20px;

  background: rgb(23, 68, 164);
  border: none;
  color: white;
  text-align: center;
  font-size: 5vw;
  padding: 2vw 8vw;

  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10vw;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 10vw;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}
.postF {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.postF h3 {
  margin-top: 4vw;
}

.newPosts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vw 8wv;
  margin-top: 5vw;
}
.onePost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(250, 253, 255);
  border: 0.1px lightgray solid;
  width: 83vw;
  padding: 5vw 4vw;
  margin-bottom: 6vw;
}
.onePost p {
  width: 95%;
  text-align: justify;
}
.onePost div {
  font-weight: 800;
  font-size: 5vw;
  margin-bottom: 2vw;
  text-align: center;
  text-decoration-style: underline;
  text-decoration-line: underline;
}
.checkForm p {
  margin-top: 3vh;
}
@media only screen and (min-width: 1024px) {
  .rw-sentence p {
    font-size: 2vw;
    text-align: center;
    margin-top: 6vh;
    margin-bottom: 0;
    font-weight: 100;
  }
  .rw-words-2 span {
    font-size: 3.5vw;
    text-align: center;
    margin-top: 2vh;
    font-weight: 100;
  }
  .headPost {
    padding-top: 1vh;
    padding-bottom: 9vh;
    margin-bottom: 3vh;
    margin-top: 7vh;
    border: 0.1px lightgray solid;
    width: 100%;
  }

  .button1 {
    width: 50vw;
    font-size: 1.5vw;
    padding: 0.5vw 8vw;
    padding: 0;
  }
  .button1 span:after {
    right: -5vw;
  }

  .button1:hover span {
    padding-right: 5vw;
  }
  .checkForm {
    font-size: 1.2vw;
    width: 50%;
    font-weight: 800;
  }
  .checkForm img {
    width: 10vw;
    height: 10vw;
  }
  .checkForm p {
    margin-top: 3vh;
  }
  .onePost {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 253, 255);
    border: 0.1px lightgray solid;
    width: 40vw;
    padding: 1vw 1vw;
    margin-bottom: 1.5vw;
  }
  .onePost p {
    width: 95%;
    text-align: justify;
    font-size: 1vw;
  }
  .onePost div {
    font-weight: 800;
    font-size: 1.3vw;
    margin-bottom: 2vw;
    text-align: center;
    text-decoration-style: underline;
    text-decoration-line: underline;
  }
  .newPosts {
    padding: 2vw 8wv;
    margin-top: 2vw;
  }
}
