#user_info {
  padding-top: 17vw;
  padding-bottom: 6vw;
  border: 0.1px lightgray solid;
  flex-direction: column;
  align-items: center;

  min-height: 88vh;
  background-color: rgb(250, 253, 255);
  margin-top: 1.2vh;
  width: 92%;
  border-left-style: double;
  border-left-width: 5vw;
  border-left-color: rgb(23, 68, 164);
  border-right-style: double;
  border-right-width: 5vw;
  border-right-color: rgb(23, 68, 164);
}
#user_info h1 {
  width: 90%;
  text-align: center;
  color: rgb(23, 68, 164);
  font-size: 8vw;
  font-weight: 700;
}
#user_info strong {
  text-align: center;
}
.summary {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;

  align-items: center;
}
#textarea3 {
  text-align: justify;
  padding: 3vw 5vw;
  /* resize: none; */
  resize: vertical;
  min-height: 80vw;
}
.submitButton {
  width: 25vw;
  border-radius: 20px;
  font-weight: 700;
  background: rgb(23, 68, 164);
  border: none;
  color: white;
  text-align: center;
  font-size: 5vw;
  margin-top: 4vw;
}
.summury2 {
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
}

.summury2 article {
  text-align: justify;
}
.headRes {
  font-size: 6vw;
  color: rgb(23, 68, 164);
  text-decoration-line: underline;
  /* border-bottom: 1px solid rgb(23, 68, 164); */
  font-weight: 700;
}
.workExp1 {
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
}
.workExp1 p {
  padding: 2vw 0 0;
  text-align: center;
  cursor: pointer;
  font-weight: 900;
}
#workExp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#workExp label {
  font-weight: 700;
}
#workExp textarea {
  min-height: 14vh;
}
.workExp2 h4 {
  font-size: 5vw;
  font-weight: 700;
}
.workExp2 {
  display: flex;
  flex-direction: column;
  margin-top: 3vw;
}
.workExp2 h4 {
  padding-bottom: 0;
  line-height: 1em;
  font-size: 5vw;
}
#dates {
  text-align: left;
}
.workExp2 article {
  text-align: justify;
  padding-top: 1vh;
  margin-bottom: 3vw;
}
.skills1 {
  display: flex;
  flex-direction: column;
  padding: 0 4vw;
}
.addS {
  text-align: center;
  cursor: pointer;
  font-weight: 900;
  margin: 0;
}
.addS2 {
  margin-top: 4vw;
}
.edu1 {
  display: flex;
  flex-direction: column;
  padding: 5vw 4vw 2vw;
}
.formSkill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vw;
}
.skillButton {
  padding: 0;
  margin: 0;
}
.eduForm {
  padding-top: 2vh;
}
.dateRec {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5vh;
}
/* #aboutMe img {
  width: 30vw;
  height: 30vw;
} */
.about-logo {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  margin-top: 3vh;
}
#aboutMe h1 {
  font-size: 10vw;
  text-align: center;
  margin-top: 0.5vh;
}
#aboutMe {
  padding-bottom: 2.9vh;
  display: flex;
  flex-direction: column;
}
#id {
  width: 20vw;
  height: 60vw;
}
#aboutMe p {
  font-size: 6vw;
  font-weight: 700;
  margin-top: 0.5vh;
  text-align: center;
  margin-bottom: 0;
}
#contact5 {
  padding: 0;
  margin: 0;
}
#contact5 img {
  width: 6vw;
  height: 6vw;
}
#contact5 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact5 div {
  font-size: 5vw;
  margin-top: 2vh;
}
.data-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#file {
  text-align: center;
  padding-top: 2vh;
  margin-left: 38vw;
}
#loadForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#sendPic {
  border-radius: 20px;
  background-color: rgb(23, 68, 164);
  color: white;
  margin-top: 1vh;
  margin-bottom: 2vh;
  font-size: 5vw;
}
#loadForm input {
  font-weight: 700;
}
.profAll {
  display: flex;
  flex-direction: column;
}
#sort2 {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#sort2 span {
  margin: 0;
}
.active4 {
  /* border-bottom: 3px solid red; */
  background-color: rgb(23, 68, 164);
  color: white;
}
.active3 {
  background-color: rgb(23, 68, 164);
  color: white;
}
@media only screen and (min-width: 768px) {
  #user_info h1 {
    font-size: 5vw;
  }
  .workExp2 h4 {
    font-size: 2vw;
  }
  .headRes {
    font-size: 3vw;
  }
  .about-logo {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    margin-top: 3vh;
  }
  #aboutMe h1 {
    font-size: 6vw;
    text-align: center;
    margin-top: 2vh;
  }
  #aboutMe p {
    font-size: 4vw;
    font-weight: 700;
    margin-top: 0.5vh;
    text-align: center;
    margin-bottom: 0;
  }
  #sort2 span {
    font-size: 3vh;
  }
  #user_info {
    padding-top: 6vw;
    padding-bottom: 3vw;
    font-size: 2.6vw;
    margin-top: 1.2vh;
    width: 92%;
  }
  #sendPic {
    border-radius: 20px;
    background-color: rgb(23, 68, 164);
    color: white;
    margin-top: 1vh;
    margin-bottom: 2vh;
    font-size: 3vw;
    padding: 0 4vw;
  }

  #loadForm {
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
    margin-bottom: 0;
    padding: 0;
  }
  #file {
    text-align: center;
    padding-top: 2vh;
    margin-left: 0;
    margin-top: 1vh;
    margin-bottom: 4vh;

    font-size: 3vw;
  }
}

@media only screen and (min-width: 1025px) {
  #user_info {
    padding-bottom: 6vw;
    border: 0.1px lightgray solid;
    flex-direction: column;
    align-items: center;
    padding-top: 7vh;
    min-height: 88vh;
    background-color: rgb(250, 253, 255);
    margin: auto;
    padding: auto;
    margin-top: 2vw;
    width: 57%;
    border-left-style: double;
    border-left-width: 3vw;
    border-left-color: rgb(23, 68, 164);
    border-right-style: double;
    border-right-width: 3vw;
    border-right-color: rgb(23, 68, 164);
    font-size: 1.2vw;
  }
  #user_info h1 {
    width: 90%;
    font-size: 3vw;
  }
  #user_info strong {
    font-size: 1.2vw;
  }
  .headRes {
    font-size: 1.6vw;
  }
  .summury2 {
    padding: 1vw 4vw;
  }
  .workExp1 {
    padding: 0 4vw 0;
  }
  .workExp1 p {
    padding: 0 0 0;
  }
  .workExp2 {
    margin-top: 1.5vh;
  }
  .workExp2 h4 {
    font-size: 1.2vw;
    line-height: 1em;
  }
  .dates {
    font-size: 1.3vw;
  }
  .workExp2 article {
    text-align: justify;
    padding-top: 1vh;
    margin-bottom: 1vw;
  }
  .workExp1 p,
  .addS {
    font-size: 1.2vw;
  }
  #workExp textarea {
    min-height: 7vh;
  }
  #workExp label {
    font-size: 1.2vw;
  }
  .submitButton {
    width: 10vw;
    border-radius: 20px;
    font-size: 1.2vw;
    margin-top: 0;
  }
  .dateTitle {
    display: flex;
    justify-content: space-between;
  }
  .formSkill {
    display: flex;
    flex-direction: row;

    justify-content: center;
    margin-top: 1.5vw;
  }
  .skillButton {
    padding: 0;
    margin-bottom: 2vh;
  }

  #skillInp {
    border-radius: 30px;
    font-size: 0.98vw;
  }
  .skillSet {
    line-height: 2.2em;
  }
  .edu1 {
    padding: 3vw 4vw 1vw;
  }
  .summary {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
  }
  #textarea3 {
    text-align: justify;
    padding: 0.5vw 1vw;
    /* resize: none; */
    resize: vertical;
    min-height: 10vw;
  }
  #id {
    width: 100vw;
    height: 100vw;
  }
  .about-logo {
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    margin-top: 0;
  }
  #aboutMe h1 {
    font-size: 3vw;
    text-align: center;
    margin-top: 2vh;
    text-decoration-color: rgb(23, 68, 164);
    text-decoration: underline;
  }
  #aboutMe {
    font-size: 4vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #aboutMe p {
    font-size: 2vw;
    font-weight: 700;
    margin-top: 0.5vh;
    text-align: center;
    margin-bottom: 0;
  }
  #contact5 img {
    width: 2vw;
    height: 2vw;
    margin-bottom: 1vh;
    margin-right: 0.7vw;
  }
  #contact5 div {
    font-size: 1.6vw;
    margin: 0;
  }
  #contact5 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-logo {
    margin-right: 2vw;
  }
  .workExp1 {
    display: flex;
    flex-direction: column;
  }
  #sendPic {
    border-radius: 20px;
    background-color: rgb(23, 68, 164);
    color: white;
    margin-top: 1vh;
    margin-bottom: 2vh;
    font-size: 1vw;
    padding: 0 4vw;
  }

  #loadForm {
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
    margin-bottom: 0;
    padding: 0;
  }
  #file {
    text-align: center;
    padding-top: 2vh;
    margin-left: 0;
    margin-top: 1vh;
    margin-bottom: 4vh;

    font-size: 1vw;
  }
}
