#showUser {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 90vw;
  padding: 3vh 0 5vh;
}
#showUser p {
  text-align: center;
  margin-bottom: 0;
  font-size: 6vw;
}
#showUser > div > div {
  color: rgb(91, 91, 91);
}
#showUser h1 {
  text-align: center;
}
.allUsers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#findUser {
  background-color: rgb(23, 68, 164);
  color: white;
  font-weight: 700;
  padding: 0.5vw 3vw;
}
.userSearch2 {
  font-weight: 700;
  text-align: center;
  font-size: 5vw;
  padding: 0 6vw;
}
#contact6 {
  padding: 0;
  margin: 0;
}
#contact6 img {
  width: 6vw;
  height: 6vw;
}
#contact6 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact6 div {
  font-size: 5vw;
  margin-top: 2vh;
}
.closure {
  padding-top: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.closure img {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}

@media only screen and (min-width: 1025px) {
  #findUser {
    background-color: rgb(23, 68, 164);
    color: white;
    font-weight: 700;
    width: 12vw;
    padding: 0;
    margin: 0;
    padding: 0.23vw 3vw;
    font-size: 1.5vw;
    border: 20px;
  }
  #showUser {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 92vw;
    padding: 3vh 0 5vh;
  }
  #showUser p {
    text-align: center;
    margin-bottom: 0;
    font-size: 1.4vw;
  }
  #contact6 img {
    width: 1vw;
    height: 1vw;
    margin-top: 1vh;
    margin-right: 0.5vw;
  }
  #contact6 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #contact6 div {
    font-size: 1vw;
    margin-top: 2vh;
    padding-top: 1vh;
    margin-left: 0.5vw;
  }
  .users5 {
    margin-top: 2vh;
  }
  .userSearch2 {
    font-size: 1.6vw;
    margin-top: 4vh;
  }
}
